
{% if user.hasDepartment(dept.name) %}
  <form style= 'display: inline' action = "/users/{{ user.id }}/user_departments/{{ dept.id }}?_method=DELETE" method = "POST">
{% else %}
  <form style= 'display: inline' action = "/users/{{ user.id }}/user_departments/" method = "POST">
{% endif %}

    <input type='hidden' name='departmentId' value = "{{ dept.id }}"/>

    <button class = "btn btn-default" type = 'submit'>
      {% if user.hasDepartment(dept.name) %}
        <span>{{ dept.name }}</span>
      {% else %}
        <span style="text-decoration: line-through" >{{ dept.name }}</span>
      {% endif %}
    </button>


  </form>


